* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: #3E3232;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  width: 100%;
  overflow-x: hidden;
}

.main-content {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-bottom: 20px; /* Footer와의 간격 추가 */
}

.content-container {
  max-width: 900px;
  margin: 0 auto;
  border-radius: 10px;
  width: 100%;
  padding-bottom: 40px; /* 하단 여백 추가 */
}

/* 모바일에서 간격 조정 */
@media (max-width: 768px) {
  .main-content {
    margin-bottom: 30px;
  }

  .content-container {
    padding-bottom: 30px;
  }
}

@media (max-width: 480px) {
  .main-content {
    margin-bottom: 20px;
  }

  .content-container {
    padding-bottom: 20px;
  }
}
